<footer>
	<div class="footer-inner">
		<div class="footer-inner-top">
			<ul class="footer-nav">
				<li class="footer-nav-item">
					<a class="footer-nav-link" href="/about">About Us</a>
					<ul class="footer-subnav">
						<li class="footer-subnav-item"><a class="footer-subnav link" href="/about/company">Company/Staff</a></li>
						<li class="footer-subnav-item"><a class="footer-subnav link" href="about/guest_artists">Guest Artists</a></li>
						<li class="footer-subnav-item"><a class="footer-subnav link" href="/about/board">Board of Directors</a></li>
					</ul>
				</li>
				<li class="footer-nav-item">
					<a class="footer-nav-link" href="/past_performances">Past Performances</a>
				</li>
				<li class="footer-nav-item">
					<a class="footer-nav-link" href="/sponsors">Sponsors</a>
					<ul class="footer-subnav">
						<li class="footer-subnav-item"><a class="footer-subnav-link" href="/sponsors/current">Current</a></li>
						<li class="footer-subnav-item"><a class="footer-subnav-link" href="/sponsors/new">Become A Sponsor</a></li>
					</ul>
				</li>
				<li class="footer-nav-item"><a class="footer-nav-link" href="/donate">Donate</a>
					<ul class="footer-subnav">
						<li class="footer-subnav-item"><a class="footer-subnav-link" href="/donate">One-Time Donation</a></li>
						<li class="footer-subnav-item"><a class="footer-subnav-link" href="/donate">Recurring Donation</a></li>
					</ul>
				</li>
			</ul>
			<div class="footer-auxnav">
				<div class="newsletter">
					<div class="newsletter-inputarea">
						<div id="mc_embed_signup">
							<form id="mc-embedded-subscribe-form" class="validate" action="//accidentalshakespeare.us8.list-manage.com/subscribe/post?u=62e153225217fde3b5c71b8f9&amp;id=77a38c823e" method="post" name="mc-embedded-subscribe-form" target="_blank">
								<div id="mc_embed_signup_scroll">
									<div class="mc-field-group">
										<input id="mce-EMAIL" class="required email" type="email" name="EMAIL" placeholder="enter email" value="" size="35" />
										<div class="mc-field-group"><input id="mce-FNAME" class="required" type="text" name="FNAME" placeholder="first name"" value="" size="35" /></div>
										<div class="mc-field-group"><input id="mce-LNAME" class="required" type="text" name="LNAME" placeholder="last name" value="" size="35" /></div>
										<div class="mc-field-group"><input id="mce-MMERGE11" class="required" type="hidden" name="MMERGE11" value="WEBSITE" /></div>
										<div id="mce-responses" class="clear">&nbsp;</div>
										<input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div class="scl">
		<p class="scl-headline">Connect With Us!</p>
		<a class="scl-link" href="https://www.facebook.com/AccShakes/?fref=ts" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>
		</a>
		<a class="scl-link" href="https://twitter.com/accshakes" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>
		</a>
		<a class="scl-link" href="mailto:accshakes@gmail.com" title="Email"><i class="fa fa-envelope-square" aria-hidden="true"></i>
		</a>
	</div>
	<div class="footer-inner-bottom">
		<div class="footer-inner-bottom">
			<p>&copy; 2017 The Accidental Creative. All rights reserved.</p>
		</div>
	</div>
</footer>
