<footer id="myFooter">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-3">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>-->
      <div class="col-sm-3 footerCol">
        <h5>About us</h5>
        <ul>
          <li><a href="/about">Company / Staff</a></li>
          <li><a href="/about">Guest Artists</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footerCol">
        <h5>Sponsors</h5>
        <ul>
          <li><a href="/sponsors">Become a Sponsor</a></li>
          <li><a href="/sponsors#current-sponsors-list">Current Sponsors</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footerCol">
        <h5>Connect With Us!</h5>
        <div class="social-networks">
          <a href="https://www.facebook.com/AccShakes" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/accshakes" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="mailto:accshakes@gmail.com" class="email "><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
      <div class="col-sm-3 footerCol">
        <h5>Newsletter</h5>
        <form class="form-inline" action="//accidentalshakespeare.us8.list-manage.com/subscribe/post?u=62e153225217fde3b5c71b8f9&amp;id=77a38c823e"
          method="post" name="mc-embedded-subscribe-form" target="_blank">
				<input id="mce-MMERGE11" type="hidden" name="MMERGE11" value="WEBSITE" />

          <div class="field-group">
            <input id="newsletter-email" class="form-control input-sm newsletter-input" type="email" name="EMAIL" placeholder="enter email" value="" size="35"/>
					</div>
					<div class="field-group">
            <input class="form-control input-sm newsletter-input" type="text" name="FNAME" placeholder="first name" value="" size="35"/>
					</div>
					<div class="field-group">		
            <input class="form-control input-sm newsletter-input" type="text" name="LNAME" placeholder="last name" value="" size="35"/>
            <input id="mc-embedded-subscribe" class="btn btn-default" type="submit" name="subscribe" value="Subscribe" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2017 The Accidental Creative</p>
  </div>
</footer>
