<div class="footer">
	<div class="footer-inner">
		<div class="footer-inner-top">
				<ul class="footer-nav">
						<li class="footer-nav-item">
							<a class="footer-nav-link" href="/about">About Us</a>
							<ul class="footer-subnav">
								<li class="footer-subnav-item"><a class="footer-subnav link" href="/about/board">Board of Directors</a></li>
								<li class="footer-subnav-item"><a class="footer-subnav link" href="about/company">Company</a></li>
								<li class="footer-subnav-item"><a class="footer-subnav link" href="/about/staff">Staff</a></li>
								<li class="footer-subnav-item"><a class="footer-subnav link" href="/about/performers">Performers</a></li>
							</ul>
						</li>
						<li class="footer-nav-item">
							<a class="footer-nav-link" href="/past_performances">Past Performances</a>
						</li>
						<li class="footer-nav-item">
							<a class="footer-nav-link" href="/sponsors">Sponsors</a>
							<ul class="footer-subnav">
								<li class="footer-subnav-item"><a class="footer-subnav-link" href="/sponsors/current">Current</a></li>
								<li class="footer-subnav-item"><a class="footer-subnav-link" href="/sponsors/new">Become A Sponsor</a></li>
								<li class="footer-subnav-item"><a class="footer-subnav-link" href="/sponsors/silent_auctions">Silent Auction</a></li>
							</ul>
						</li>
				</ul>
				<div class="footer-auxnav"></div>
		</div>
		<div class="footer-inner-bottom">
			<div class="footer-inner-bottom"></div>
			<div class="newsletter"></div>
		</div>
	</div>	
	
</div>