<nav class="navbar navbar-inverse">
  <!--<div class="container">-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.path }}/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.path }}/production">Previous Productions</a></li>
        <li><a href="{{ site.path }}/about">About Us</a></li>
        <li><a href="{{ site.path }}/sponsors">Sponsors</a></li>
        <li><a href="{{ site.path }}/donate">Donate</a></li>
      </ul>
    </div>
  <!--</div>-->
</nav>