<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.2.0.min.js"
  integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
  crossorigin="anonymous"></script>
<!-- jQuery local fallback -->
<script>window.jQuery || document.write('<script src="/assets/js/jquery-3.2.0.min.js"><\/script>')</script>

<!-- Bootstrap.min.js -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<!-- Bootstrap.min.js fallback -->
 <script>
  if(typeof($.fn.modal) === 'undefined') {
    document.write('<script src="/assets/bootstrap/js/bootstrap.min.js"><\/script>')
  }
</script>
