---
layout: default
---
<div id="main-directors-list">
    <h2>Meet our Company!</h2>
    {% for staff in page.main-staff %}
        <img src={{staff.image-path}} alt={{staff.name}}></img>
        <h3>{{staff.name}}</h3>
        <p>{{staff.role}}</p>
        <p>{{staff.synopsis}}
    {% endfor %}
</div>
<div id="staff-list">
    {% for staff in page.other-staff %}
        <img src={{staff.image-path}} alt={{staff.name}}></img>
        {% if staff.bio-url %}
            <h3><a href="{{staff.bio-url}}">{{staff.name}}</a></h2>
        {% else %}
            <h3>{{staff.name}}</h2>
        {% endif %}
        <p>{{staff.title}}</p>
    {% endfor %}
</div>
<div id="artist-list">
    <h2>Meet our Fantastic Guest Artists</h2>
        {% for artist in page.guest-artists %}
            <h3>{{artist.name}}</h3>
            <p>{{artist.title}}</p>
        {% endfor %}
</div>

<div id="directors-table">
    <h2>And Our Amazing Board of Directors</h2>
    {% for board in page.board-members %}
        <h3> {{board.name}} | {{board.title}} </h3>
        <p>{{board.affiliation}}</p>
    {% endfor %}
</div>