---
layout: default
---
<div class="opportunities-post">
  <h1>{{ page.title }}</h1>
  <b><span> {{ page.dates }} | {{ page.location }}</span></b>
  {% if page.type == 'fundraiser' %}
    <h3>Items Up for Auction: </h3>
    {% for items_donated in page.items_donated %}
      {% if items_donated.value %}
      <ul>
        <li>{{ items_donated.item }}</li>
        <li>{{ items_donated.attributes }}</li>
        <li>Thanks to {{ items_donated.donor }}</li>
      </ul>
      {% else %}
      <ul>
        <li>{{ items_donated.item }}</li>
        <li>{{ items_donated.attributes }}</li>
        <li>Thanks to {{ items_donated.donor }}</li>
        <li>{{ items_donated.value }}</li>
      </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if page.type == 'volunteer' %}
    <h3>Special Thanks to our wonderful Volunteers: </h3>
    {% for volunteers in page.volunteers %}
      {% if volunteers.name %}
      <ul>
        <li>{{ volunteers.name }}</li>
      </ul>
      {% else %}
      <ul>
        <li>Email us with the link below to learn more about volunteer opportunities!</li>
      </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if page.type == 'audition' %}
    <h3>Currently Casting: </h3>
    {% for open_roles in page.open_roles %}
      {% if open_roles.attributes %}
      <ul>
        <li>{{ open_roles.name }}</li>
        <li>{{ open_roles.attributes }}</li>
      </ul>
      {% else %}
      <ul>
        <li>{{ open_roles.name }}</li>
      </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{{content}}

