<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <header>
        {% include navbar.html %}
        </header>
        <div id="new-sponsor-container">
            <a name="new"></a>
            <h3>Join Our Community of Sponsors</h3>
            <div>The Accidental Shakespeare Company would not exist without the generous support of our sponsors.  If you value our work and community presence, please consider becoming a sponsor.</div>
            <a id="new-sponsor-button" href="mailto:accshakes@gmail.com?subject=New Sponsor Inquiry">Become a sponsor</a>
        </div>
        {% include current_sponsors.html %}
        {% include footer.html %}
    </body>
    {% include script.html %}
</html>