---
layout: default
---
<div id="new-sponsor-container">
<a name="new"></a>
		<h3>Join Our Community of Sponsors</h3>
		<div>The Accidental Shakespeare Company would not exist without the generous support of our sponsors.  If you value our work and community presence, please consider becoming a sponsor.</div>
		<a href="mailto:accshakes@gmail.com?subject=New Sponsor Inquiry">Become a sponsor</a>
</div>
<div id="current-sponsors-container">
		<a name="current"></a>
		<h3>Thanks to our Current Sponsors</h3>
		<div id="current-sponsors-list">
				<table  class="sponsor-table">
				{% for sponsor in page.sponsors_table %}
						<tr class="sponsor-row"><td class="sponsor-cell">{{ sponsor.column1 }}</td><td class="sponsor-cell">{{ sponsor.column2 }}</td><td class="sponsor-cell">{{ sponsor.column3 }}</td></tr>
				{% endfor %}
				</table>
		</div>
</div>